<form [formGroup]="cardForm">
  <input formControlName="name"/>
</form>
<ng-container *ngIf="cardForm.controls.name.dirty
                      && cardForm.controls.name.touched
                      && cardForm.controls.name.errors">
  <div *ngIf="cardForm.controls.name.errors.required">
    Value is required.
  </div>
  <div *ngIf="cardForm.controls.name.errors.minlength">
    Value you entered is
    {{cardForm.controls.name.errors.minlength.actualLength}}
    char long, it must be atleast
    {{cardForm.controls.name.errors.minlength.requiredLength}}
  </div>
</ng-container>
<hr/>
<div> Form Contents: {{cardForm.value|json}}</div>
<div> Form Valid: {{cardForm.valid}}</div>
<div>Errors Around Name{{cardForm.controls.name.errors|json}}</div>
