<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
<app-input  label="Name" [control]="cardForm.get('name')"></app-input>
<app-input  label="Card Number" [control]="cardForm.get('cardNumber')"></app-input>
<app-input  label="Expiration" [control]="cardForm.get('expiration')"></app-input>
<app-input  label="Security Code" [control]="cardForm.get('securityCode')"></app-input>
<button [disabled]="cardForm.invalid" class="submit">Submit</button>
</form>

<hr/>
<div> Form Contents: {{cardForm.value|json}}</div>
<div> Form Valid: {{cardForm.valid}}</div>
<div>Errors Around Name{{cardForm.controls.name.errors|json}}</div>
